@import "tailwindcss";

/* Palette CoreLab Training */
:root {
    /* Sfondo principale */
    --color-bg-main: #0f0f0f;

    /* Sfondo delle sezioni scure */
    --color-bg-surface: #1a1a1a;

    /* Sfondo trasparente per card sopra immagini */
    --color-bg-surface-light: rgba(255, 255, 255, 0.15);

    /* Testo principale e secondario */
    --color-text-primary: #ffffff;
    --color-text-secondary: #c0c0c0;

    /* Verde CoreLab */
    --color-accent: #22c55e;
    --color-accent-hover: #4ade80;

    /* Border bianco trasparente */
    --color-border: #ffffff33;
}

@keyframes slide-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out forwards;
}