@import "tailwindcss";

/* Palette CoreLab Training */
:root {
    --color-bg-main: #0f0f0f;
    /* Sfondo principale */
    --color-bg-surface: #1a1a1a;
    /* Card / section */
    --color-text-primary: #ffffff;
    /* Testo principale */
    --color-text-secondary: #c0c0c0;
    /* Testo secondario */
    --color-accent: #22c55e;
    /* Verde CoreLab */
    --color-accent-hover: #4ade80;
    /* Verde hover */
    --color-border: #ffffff33;
    /* Bianco 20% */
}

@keyframes slide-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out forwards;
}